In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
data=pd.read_csv('train.csv')
data.shape
y=data.Transported
data=data.drop(['Transported'],axis=1)
y.shape

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
data.select_dtypes(include=['object']).isnull().sum()

In [ ]:
for i in data.columns:
    print('{} {}'.format(i,data[i].nunique()))

In [ ]:
data=data.drop(['Name'],axis=1)

DATA VISUALIZATION

In [ ]:
sns.countplot(data=data,y='HomePlanet',hue='Destination')
plt.show()

In [ ]:
plt.figure(figsize=(8,4))
sns.heatmap(data.corr(),annot=True)
plt.show()

DATA PREPROCESSING

In [ ]:
data[['cabin1','cabin2','cabin3']]=data['Cabin'].str.split('/',expand=True)
data=data.drop(['Cabin'],axis=1)
data

In [ ]:
X=data
X
y

In [ ]:
X.info()

In [ ]:
X.isnull().mean()*100

In [ ]:
num_cols=X.select_dtypes(include=['float64']).columns.tolist()
object_cols=X.select_dtypes(include='object').columns.tolist()
num_cols
object_cols.pop(0)
object_cols.pop(4)
object_cols.pop(4)
object_cols

In [ ]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='mean')
X[num_cols]=imputer.fit_transform(X[num_cols])
X[num_cols].isna().sum()

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
scaler=StandardScaler()
X[num_cols]=scaler.fit_transform(X[num_cols])

In [ ]:
encoder=OneHotEncoder(sparse=False,handle_unknown='ignore')
encoder.fit_transform(X[object_cols])
encoder.categories_

In [ ]:
encoded_col=list(encoder.get_feature_names(object_cols))
encoded_col

In [ ]:
X[encoded_col]= encoder.transform(X[object_cols])
X[encoded_col]

In [98]:
X=X[encoded_col+num_cols]
X

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_nan,CryoSleep_False,CryoSleep_True,CryoSleep_nan,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,...,VIP_nan,cabin3_P,cabin3_S,cabin3_nan,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.709437,-0.340590,-0.287314,-0.290817,-0.276663,-0.269023
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,-0.336717,-0.175364,-0.281669,-0.248968,0.211505,-0.230194
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,2.034566,-0.275409,1.955616,-0.290817,5.694289,-0.225782
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.290975,-0.340590,0.517406,0.330225,2.683471,-0.098708
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,-0.894666,0.118709,-0.243409,-0.038048,0.225732,-0.267258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.848924,-0.340590,3.989682,-0.290817,1.184286,-0.203720
8689,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,-0.755179,-0.340590,-0.287314,-0.290817,-0.276663,-0.269023
8690,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,-0.197230,-0.340590,-0.287314,2.842851,-0.275774,-0.269023
8691,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.221232,-0.340590,0.370637,-0.290817,0.037223,2.585740
8692,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.058155,-0.149594,2.653082,-0.290817,-0.276663,-0.258433

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
X_train

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,y_train)

In [ ]:
y_pred=model.predict(X_test)
accuracy_score(y_test,y_pred)

In [102]:
test=pd.read_csv('test.csv')
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [96]:
test['cabin3']= test.apply(lambda x : str(x['Cabin'])[-1:], axis=1)
test[num_cols]=imputer.fit_transform(test[num_cols])
test[encoded_col]=encoder.transform(test[object_cols])

In [99]:
X_test=test[encoded_col+num_cols]
X_test

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_nan,CryoSleep_False,CryoSleep_True,CryoSleep_nan,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,...,VIP_nan,cabin3_P,cabin3_S,cabin3_nan,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,27.000000,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,19.000000,0.0,9.0,0.0,2823.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,31.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,38.000000,0.0,6652.0,0.0,181.0,585.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,20.000000,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,34.000000,0.0,0.0,0.0,0.0,0.0
4273,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,42.000000,0.0,847.0,17.0,10.0,144.0
4274,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,28.658146,0.0,0.0,0.0,0.0,0.0
4275,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,28.658146,0.0,2680.0,0.0,0.0,523.0
4276,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,43.000000,0.0,0.0,0.0,0.0,0.0

In [100]:
#generating csv for submission
predict=model.predict(X_test)
predict

array([ True, False,  True, ...,  True, False, False])

In [106]:
submisson_csv=pd.DataFrame(columns=['PassengerId','Transported'])
submisson_csv['PassengerId']=test['PassengerId']
submisson_csv['Transported']=predict
submisson_csv

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [107]:
submisson_csv.to_csv('submisson_csv',index=False)